{% extends'home/layout.html' %}

{% block title %}Mua hàng xỉ {% endblock %}
{% block content %}
<style type="text/css">
i:hover{
transform: scale(1.2);
}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.my-cart-b{
box-shadow: none;
}
</style>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/buy.css">
<script type="text/javascript"  src="static/js/buy.js"></script>
	<!--     Fonts and icons     -->

<body>
<main>
<div class="table">
<div class="table-cell">
<div class="menu">
<div class="menu-item" onclick="window.history.go(-1);"><i style="color: #848282"   class="material-icons">keyboard_return</i><span>Trở lại</span></div>
<div onclick="window.location.assign('/')" class="menu-item"><i style="color: #848282" class="material-icons">tab</i><span>Trang chủ</span></div>
<form method="POST" style="display: contents;">
<button style="border:none" value="raovat" id="submit" name="submit" type="submit"  class="menu-item"><i style="color: #848282" class="material-icons">shop</i><span>Rao vặt</span></button>
<button style="border:none" value="thongbao" id="submit" name="submit" type="submit"  class="menu-item"><i style="color: #848282" class="material-icons">vpn_lock</i><span>Thông báo</span></button>
<button style="border:none" value="dangnhap" id="submit" name="submit" type="submit"  class="menu-item"><i style="color: #848282" class="material-icons">security</i><span>Tài khoản</span></button>
</form>
</div>
</div>
</div>
</main>
    <div class="image-container set-full-height" >


	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">

		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="red" id="wizard">
		                    <form action="" method="POST">
		          <!--           	<input  name="b_info" id="b_info" value="Mua:{{buy_name}}({{buy_info}}),Giá:{{buy_price}}₫" class="hidden"> -->


		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        	Tiến hành mua
		                        	</h3> 
		                    	</div>
								<div class="wizard-navigation">
									<ul>
			                            <li><a href="#details" data-toggle="tab">Thông tin</a></li>
			                            <li><a href="#captain" data-toggle="tab">Liên hệ</a></li>
			                            <li><a href="#description" data-toggle="tab">Thanh toán</a></li>
			                        </ul>
								</div>

		                        <div class="tab-content">
		                            <div class="tab-pane" id="details">
		                            	<div class="row">
	
		                                	<div class="col-sm-6">
						<img src="{{pic}}" class="img-responsive">
					
		                                	</div>
		                                	<div class="col-sm-6">
		                               <h3>{{name}} ({{info}})</h3>
		                               <p>Tình trạng: {{status}}</p>
		                               <p>Gi á: {{price}} áp dụng khi mua {{limit}}</p>
		                               
<div id="example-1">		                               
<input style="width: 50%" class="form-control" placeholder="Số lượng"  v-bind:value="selected" type="number" v-model="selected"  required>
<p v-if="selected != '' && selected>={{num_limit}} "  >{% raw %}{{selected}}{% endraw %} cái<span> Tổng: {% raw %}{{count}}{% endraw %}₫</span></p>
<input  v-if="selected != '' && selected>={{num_limit}} "  v-bind:value=" 'Mua' +' '+ +selected+'c' +' '+ '{{name}}({{info}})'+' '+'Giá tổng:' +' '+count+'đ' "  name="count" id="count" class="hidden">
<input v-else  name="count" id="count" v-bind:value=" 'Mua lẻ'+' '+selected+'c'+ ' '+'{{name}}({{info}})' "  class="hidden">
</div>
<script type="text/javascript">
var example1 = new Vue({
	
el: '#example-1',
data: {
selected:"",	
},
computed:{
count: function(){
      counter=Number({{myprice}})*Number(this.selected);
      return counter;
},
},
})
</script>
                                                              <input type="text" name="product" id=product value="{{name}} ({{info}})" class="hidden">
		                                	</div>
		                            	</div>
		                            </div>
		                            <div class="tab-pane" id="captain">
		                                <div class="row header">


		                                    <div class="form-group label-floating">
		                                    	<input class="form-control" type="text" name="name" id="name" placeholder="Họ và tên">
		                                    	<br>
		                                    	<input class="form-control" name="phone" id="phone" placeholder="SĐT">
		                                    	<br>
		                                  <!--       	<label class="control-label">Khu vực</label> -->
	                                        		<select  name="place" id="place" class="form-control" required>
						<option disabled="" selected="">Khu vực</option>
	                                                	<option value="Hà Nội"> Hà Nội </option>
	                                                	<option value="TP.HCM"> TP.HCM</option>
	                                                	<option value="Lân cận Hà Nội">Lân cận Hà Nội</option>
	                                                	<option value="Lân cận TP.HCM">Lân cận TP.HCM</option>
	                                                	
		                                        	</select>
		                                    	</div>
						<div class="input-group" style="width: 100%">
						<span class="input-group-addon">
						<i class="material-icons">place</i>
						</span>
						<div class="form-group label-floating">
						<label class="control-label">Địa chỉ chi tiết</label>
						<input name="location" id="location"  class="form-control" required>
						</div></div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="description">
		                                <div class="row header">
		                                <div class="form-group label-floating">
		                         
		                                        	<label class="control-label">Hình thức thanh toán</label>
	                                        		<select name="pay" id="pay" class="form-control" required>
	                                                	<option value="Sau khi giao hàng" selected="">Sau khi giao hàng</option>
		                                        	</select>
		                                    	</div>
					    <div class="form-group label-floating">
		                         
		                                        	<label class="control-label">Thời gian nhận hàng</label>
	                                        		<select name="time" id="time" class="form-control" required>
						<option disabled="" selected=""></option>
	                                                	<option value="Thứ 2">Thứ 2</option>
	                                                	<option value="Thứ 3">Thứ 3</option>
	                                                	<option value="Thứ 4">Thứ 4</option>
	                                                	<option value="Thứ 5">Thứ 5</option>
	                                                	<option value="Thứ 6">Thứ 6</option>
	                                                	<option value="Thứ 7">Thứ 7</option>
	                                                	<option value="Chủ nhật">Chủ nhật</option>
	                                                	<option value="Các ngày trong tuần">Các ngày trong tuần</option>
	            
	                                                	
		                                        	</select>
		                                    	</div>
		                                </div>
		                            </div>
		                        </div>
	                        	<div class="wizard-footer">
	                           	<div class="pull-right">
	                                    <input type='button' style="    background: -webkit-linear-gradient(top,#d23f46,#da3f47);border-radius:0;font-size: 1rem;text-transform: uppercase;border: solid 1px #bbbbbb !important;" class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Tiếp theo' />
	                                    <input style="    background: -webkit-linear-gradient(top,#d23f46,#da3f47);border-radius:0;font-size: 1rem;text-transform: uppercase;border: solid 1px #bbbbbb !important;"  type='submit' class='btn btn-finish btn-fill btn-danger btn-wd' id='submit' name='submit' value='Xong' />
   

	                                </div>
	                                <div class="pull-left">
	                                    <input style="color:white;background: #c1c1c1;border-radius:0;font-size: 1rem;text-transform: uppercase;"  type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Quay lại' />
                                                

<!-- 
										<div class="footer-checkbox">
											<div class="col-sm-12">
											  <div class="checkbox">
												  <label>
													  <input type="checkbox" name="optionsCheckboxes" required>
												  </label>
												  Đồng ý với <a>chính sách mua hàng</a> của chúng tôi
											  </div>
										  </div>
										</div> -->
	                                </div>
	                                <div class="clearfix"></div>
	                        	</div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div> <!-- row -->
		</div> <!--  big container -->

<!-- 	    <div class="footer">
	        <div class="container text-center">
	             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>.
	        </div>
	    </div>
	</div> -->
</body>

{% endblock %}
