{% extends 'home/layout.html' %}
{% block titile %} Trang chủ{% endblock %}
{% block content %}
<main>
<div class="table">
<div class="table-cell">
<div class="menu">
<div onclick="window.location.assign('/')" class="menu-item"><i style="color: #848282" class="material-icons">tab</i><span>Trang chủ</span></div>
<div onclick="openPage('raovat');topFunction()" class="menu-item"><i style="color: #848282" class="material-icons">shop</i><span>Rao vặt</span></div>
<div onclick="openPage('thongbao');topFunction()" class="menu-item"><i style="color: #848282" class="material-icons">vpn_lock</i><span>Thông báo</span></div>
<div onclick="openPage('dangnhap');topFunction()" class="menu-item"><i style="color: #848282" class="material-icons">security</i><span>Tài khoản</span></div>
</div>
</div>
</div>
</main>

<script>
function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}
</script>


<div class="content-top">
<div class="container"  >
<div class="row" style="padding-bottom: 2rem;background:white;border: 1px solid rgb(187, 187, 187);">
<br><br><br><br>
<div class="col-xs-6">
<h4>Ra mắt iphone xs max</h4>
<div class="bxslider ">
<div><img class="img-responsive" src="static/img/banner1.png"></div>
<div><img class="img-responsive" src="static/img/banner2.png"></div>
</div>
<h5>Tin rao vặt</h5>
<br>
<!-- danglam -->

<div class="row hidden-xs" >
	
<div  v-for="(item,index) in filteredhangxis.slice(0,6)">
<form method="POST">
<a  ><div class="col-xs-2" style="border-top: 1px solid #bbbbbb;border-bottom: 1px solid #bbbbbb;">
<img class="img-responsive hidden-xs hidden-md" style="width: 6rem;height: 6rem" v-bind:src="item.pic">
<input name="hangxi_id" id="hangxi_id" class="hidden" v-bind:value="index+1">
<button  type="submit" value="hangxi" id="submit" name="submit" style="background: transparent;border: none;">{% raw %}{{item.name}}{% endraw %}{% raw %}({{item.info}}){% endraw %}</button>
<p style="color: red;font-weight: bold">{% raw %}{{item.price}}{% endraw %}</p>
</div></a></form>
</div>
</div>
<!-- enddanglam -->
</div>
<div class="col-xs-6" style="border-left: 1px solid rgb(187, 187, 187);" id="hangxi_app">
<h4>Gian hàng xỉ</h4>
<br>
<div class="row" style="text-align: center;">
<input v-model="search"  class="form-control hidden-xs"  type="text" placeholder="Tìm kiếm..">
</div>
<br>
<div class="row hidden-xs" >
<div  v-for="(item,index) in filteredhangxis.slice(0,6)">
<form method="POST">
<a  ><div class="col-xs-2" style="border-top: 1px solid #bbbbbb;border-bottom: 1px solid #bbbbbb;">
<img class="img-responsive hidden-xs hidden-md" style="width: 6rem;height: 6rem" v-bind:src="item.pic">
<input name="hangxi_id" id="hangxi_id" class="hidden" v-bind:value="index+1">
<button  type="submit" value="hangxi" id="submit" name="submit" style="background: transparent;border: none;">{% raw %}{{item.name}}{% endraw %}{% raw %}({{item.info}}){% endraw %}</button>
<p style="color: red;font-weight: bold">{% raw %}{{item.price}}{% endraw %}</p>
</div></a></form>
</div>
</div>
<br>
<form method="POST">
<button  style="margin-left: auto;margin-right: auto;display: block;" class="btn btn-default" type="submit"  id="submit" name="submit" value="gianhangxi">Xem gian hàng</button>
</form>
<!-- <button  style="margin-left: auto;margin-right: auto;display: block;" class="btn btn-default visible-xs">Xem gian hàng</button> -->
</div>

</div>
<br>
{% if aleft != '' %} 
<h3 style="color: coral">{{aleft}}</h3>
{% endif %}
<br>

<h2 class="hidden-xs">Tại sao lại chọn iPhone<b style="color: #5bb7de;font-family: cursive;">Xanh</b>.com?</h2>
<div  style="margin-right: auto;margin-left: auto;display: block">
<h4><i class="material-icons" style="color: #029241">check_circle</i>&nbsp;iPhone rẻ nhất</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons" style="color: #ed0612">check_circle</i>&nbsp;Trao đổi nhanh nhất</h4>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons" style="color: #fab005">check_circle</i>&nbsp;Thanh lý thuận tiện nhất</h4>



</div>

<!--  -->
<link rel="stylesheet" href="static/css/jquery.bxslider.css">
<script src="static/js/jquery.bxslider.min.js"></script>

<script type="text/javascript">
$('.bxslider').bxSlider({
auto: true,
autoControls: true,
stopAutoOnClick: true,
pager: true,
slideWidth: 600
});
</script>
<br>
<script type="text/javascript">
$(function() {
$('nav#menu').mmenu();
});
</script>
</head>




<br><br>










<style type="text/css">
.w3-black, .w3-hover-black:hover{
background-image: linear-gradient(to right, #008fe5 0%, #2593d6bf 51%, #008fe5 100%);
background-color: transparent !important;
/*	border-radius: 5px;*/
box-shadow: 0 7px 1px -4px rgba(0,0,0,.2), 0 5px 19px 2px rgba(0,0,0,.14), 0 4px 24px 4px rgba(0,0,0,.12);
}
.w3-button:hover{
background-color: rgba(0, 0, 0, .5)!important;
border-radius: 5px;
color: white !important
}
.modal{
border-radius: 5px;
}
</style>
<div id="trangchu" class="w3-container page">

<span style="font-size: 18px;">Được trao đổi nhiều nhất<i style="color: #ed0612;font-weight: bold" class="material-icons">swap_horiz

</i></span>
<br> <br>
<div class=" tab-content tab-content-t ">
<div class="tab-pane active text-style" id="tab1">
<div class=" con-w3l" id='app'  >
<div class="col-md-3 m-wthree" v-for="(product,index) in products">
<div class="col-m">
<a  v-bind:href="'#m'+index"  rel="modal:open" class="offer-img">
<img v-bind:src="product.pic" style='height: 12rem; width: 12rem; object-fit: contain' class="img-responsive" alt="">
<div class="offer"><p><span>Hot</span></p></div>
</a>
<div class="mid-1">
<div class="women">
<h6><a v-bind:href="'#m'+index"  rel="modal:open">{% raw %}{{product.name}} {% endraw %}</a>{% raw %}( {{product.info}} ){% endraw %}</h6>
</div>
<div class="mid-2">
<p style="color: #3C4858"><em class="item_status">{% raw %}{{product.status}}{% endraw %}</em></p>
<div class="block">
<div class="starbox small ghosting"> </div>
</div>
<div class="clearfix"></div>
</div>
<div class="mid-2">
<p ><em class="item_price">{% raw %}{{product.price}}₫{% endraw %}</em></p>
<div class="block">
<div class="starbox small ghosting"> </div>
</div>
<div class="clearfix"></div>
</div>
<form method="POST">
<input  style="display: none" id="get_hot" name="get_hot" v-bind:value="product.name" >	
<!-- modal -->
<div v-bind:id="'m'+index" class="modal">
<head class="header"><h4>Chi tiết {% raw %}{{product.name}} {% endraw %}</h4></head>
<br>
<img v-bind:src="product.pic" class="img-responsive" style='margin-left:auto;margin-right:auto;height: 12rem; width: 12rem; object-fit: contain' alt="">
<p> Tên: {% raw %}{{product.name}} {% endraw %}</p>
<p>Tình trạng máy: </p>
<p>Gi á bán bao gồm bảo hành:</p>
<p>Gi á bán không bao gồm bảo hành: </p>
<p>Thời hạn bảo hành(nếu có): 6 tháng</p>
<p>Thời gian giao hàng: trong vòng 7 ngày</p>
<p>Hình thức thanh toán: Thanh toán khi nhận hàng</p>
<a style="float: right;" href="#" rel="modal:close">Trở lại</a>

</div>	
<div class="add">
<button name="submit" type="submit" id="submit" value="product_hot" class="btn btn-danger my-cart-btn1 my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" ><i style="font-size: 1rem" class="material-icons">swap_horizontal_circle</i> TRAO ĐỔI</button>
</div>
</form>

</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
<div class="tab-pane  text-style" id="tab2">
<div class=" con-w3l">
<div class="clearfix"></div>
</div>
</div>
<div class="tab-pane  text-style" id="tab3">
<div class=" con-w3l">
<div class="clearfix"></div>
</div>
</div>
<div class="tab-pane text-style" id="tab4">
<div class=" con-w3l">
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>
<div id="raovat" class="w3-container page" style="display:none">
<h2>Rao vặt</h2>
<br>
<p class="header">Chức năng đang được xây dựng</p>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
<div id="daugia" class="w3-container page" style="display:none">

<h2 >May mắn</h2>
<br>

<p class="header">Hiện tại chức năng vẫn đang được xây dựng</p>
{% if check_status=='(1,)' %}
<h4 class="header">Ring quà sự kiện</h4>
<br>


<div id='product_daugia'  >
<div class="header"  v-for="daugia in daugias" >
<p><a >{% raw %}{{daugia.name}} {% endraw %}</a>{% raw %}( {{daugia.info}} ){% endraw %}</p>
<br>
<a  class="offer-img">
<img v-bind:src="daugia.pic" style='height: 12rem; width: 12rem; object-fit: contain' class="img-responsive" alt="">
</a>
<br>
<p><h4>Thể lệ chương trình</h4></p>
<br>
<p>Đoán 2 số cuối giải đặc biệt xổ số kiến thiết miền Bắc</p>
<br>
<p>{{nofi}}</p>
<br>
<p><input style="width: 5rem" class="form-control" ></p>	
<br>					
<form method="POST">
<input  style="display: none"  v-bind:value="daugia.name" maxlength="2">				
<button name="submit" type="submit" id="submit" value="daugia"  class="btn btn-danger my-cart-btn my-cart-b" >Gửi đi</button>
</form>		
</div>
</div>
</div>

<script type="text/javascript">

var app= new Vue({

el:'#product_daugia',
data: {
daugias:[

{name:'iphone 5',info:'16G',status:'Nguyên bản 99%',price:'1.000.000' ,pic:'http://www.drm.vn/image/data/01_MOBILE/IPHONE/iphone-5_clip_image002.jpg'}
]

}})
</script>


{% else %}
<p class="header">Vui lòng <a style="color: coral;font-weight: bold;" onclick="openPage('dangnhap')">đăng nhập</a> để thực hiện chức năng này</a></p>
{% endif %}



</div>
<div id="thongbao" class="w3-container page" style="display:none">
<h2>Thông báo</h2>
<br>
<p class="header">Chức năng đang được xây dựng</p>
</div>

{% if check_status=='(1,)' %}
<div id="dangnhap" class="w3-container page" style="display:none">
<h2>Đăng xuất</h2>
<br>
<form action="/" method='POST'>
<div class="header container">

<button type="submit" value="logout" name="submit" id="submit" class="btn btn-danger my-cart-btn1 my-cart-b ">Thoát

</div>

</form>
</div>	
{% else %}
<div id="dangnhap" class="w3-container page" style="display:none">
<h2>Đăng nhập</h2>
<br>
<form action="/" method='POST'>
<div class="header container">
<br>
<input class="form-control" type="text" placeholder="Nhập email" id="email" name="email" required>
<br>
<br>
<input class="form-control" placeholder="Nhập mật khẩu" id="pwd" name="pwd" required>
<br>
<br>
<button type="submit" value="login" name="submit" id="submit" class="btn btn-danger my-cart-btn1 my-cart-b ">Đăng nhập</button>
<p>hoặc <a href="/dangky">Đăng ký</a></p>
</div>
<div class="container signin">
</div>
</form>
</div>	
{% endif %}



<script>
function openPage(pageName) {
var i;
var x = document.getElementsByClassName("page");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
document.getElementById(pageName).style.display = "block";  
}
</script>
</div>
</div>
</div>
<div class="header"><br>
<div class="product">
<div class="container">

<div id='app1'>
<div class="header" style="text-align:-webkit-auto !important">
<input  v-model="search" class="form-control"  type="text" placeholder="Tìm kiếm..">
<br><br>
</div>
<span style="font-size: 18px;float: left;">Các sản phẩm nổi bật<i style="color: #fab005;font-weight: bold" class="material-icons">star</i></span>
<br><br>
<div class=" con-w3l" >
<div class="col-md-3 pro-1" v-for="store in filteredstores.reverse().slice(0,8)">
<div class="col-m">
<a  class="offer-img hidden-md hidden-xs"><div class="offer"><p><span>New</span></p></div></a>
<a v-bind:href="'#'+store.id" rel="modal:open"  data-toggle="modal" class="offer-img">
<img v-bind:src="store.pic" class="img-responsive" style='height: 12rem; width: 12rem; object-fit: contain' alt="">
</a>
<div class="mid-1">
<div class="women">
<h6><a v-bind:href="'#'+store.id" rel="modal:open" >{% raw %}{{store.name}} {% endraw %}</a>{% raw %}( {{store.info}} ){% endraw %}</h6>
</div>
<div class="mid-2">
<p style="color: #3C4858"><em class="item_status">{% raw %}{{store.status}}{% endraw %}</em></p>
<div class="block">
<div class="starbox small ghosting"> </div>
</div>
<div class="clearfix"></div>
</div>
<div class="mid-2">
<p ><em class="item_price">{% raw %}{{store.price}}₫{% endraw %}</em></p>
<div class="block">
<div class="starbox small ghosting"> </div>
</div>
<div class="clearfix"></div>
</div>
<form method="POST">
<input  style="display: none" id="get" name="get" v-bind:value="store.id" >
<div class="add add-2" >
<div v-bind:id="store.id" class="modal">
<head class="header"><h4>Chi tiết {% raw %}{{store.name}} {% endraw %}</h4></head>
<br>
<img v-bind:src="store.pic" class="img-responsive" style='margin-left:auto;margin-right:auto;height: 12rem; width: 12rem; object-fit: contain' alt="">
<p> Tên: {% raw %}{{store.name}} {% endraw %}</p>
<!-- 		  <p>Thông số kĩ thuật: </p> -->
<p>Tình trạng máy: </p>
<p>Gi á bán bao gồm bảo hành:</p>
<p>Gi á bán không bao gồm bảo hành: </p>
<p>Thời hạn bảo hành(nếu có): 6 tháng</p>
<p>Thời gian giao hàng: trong vòng 7 ngày</p>
<p>Hình thức thanh toán: Thanh toán khi nhận hàng</p>
<!-- 	  <a style="float: right;" href="#" rel="modal:close">Trở lại</a> -->
<a href="#" rel="modal:close" class="btn btn-basic" style="float:right;background: #f5f5f5;padding: 0.6rem;">
<i style="color: #848282;color: #1a2745;font-size: 3rem;" class="material-icons">keyboard_return</i>
<div class="ripple-container"></div></a>

</div>
<!-- Link to open the modal -->
<button style="border:none;background: transparent;">
<input  name="buy_name" id='buy_name' v-bind:value="store.name" class="hidden">
<input  name="buy_info" id='buy_info' v-bind:value="store.info" class="hidden">
<input  name="buy_price" id='buy_price' v-bind:value="store.price" class="hidden">
<a><button style="background:#029241" type='submit' value="buy" name='submit' id='submit'  class="btn btn-danger my-cart-btn1 my-cart-b"  ><i style="font-size: 1rem" class="material-icons">assignment_turned_in</i>MUA</button></a>
</button>
<!-- endbuy -->
<button  name="submit" id="submit" type="submit" value="product" class="btn btn-danger my-cart-btn1 my-cart-b"><i style="font-size: 1rem" class="material-icons">swap_horizontal_circle</i> ĐỔI</button>
</form>
</div>
</div></div>
<div class="clearfix"></div>
</div>
<form method="POST">
<button  value="showless" class="btn btn-default" type="submit"  id="submit" name="submit">Xem gian hàng</button>
</form>
</div>
</div>
<div class="spec ">
</div>
</div>  
<script type="text/javascript">
var hangxi_app=new Vue({
el:'#hangxi_app',
search:'',
data: function(){
return {
search: '',
hangxis:[
{% autoescape false %}
{{hangxi | replace ('&#39;','"') }}
{% endautoescape %}
]};
},

computed:
{
filteredhangxis:function()
{
var self=this;
return this.hangxis.filter(function(cust){return cust.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
}
},
})
</script>           

<script type="text/javascript">

var app= new Vue({

el:'#app',
data: {
products:[


{% autoescape false %}
{{product_hot | replace ('&#39;','"') }}
{% endautoescape %}

]

}})
</script>
<script type="text/javascript">
var app1=new Vue({
el:'#app1',
search:'',
data: function(){
return {
search: '',
stores:[
{% autoescape false %}
{{product | replace ('&#39;','"') }}
{% endautoescape %}
]};
},

computed:
{
filteredstores:function()
{
var self=this;
return this.stores.filter(function(cust){return cust.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
}
},
})
</script>
{% if script != null %}
<script type="text/javascript">
document.getElementById('{{script}}').click();
</script>
{% else %}

{% endif %}

{% endblock %}
